/* styles.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212; /* Fondo oscuro */
}

.game-container {
  position: relative;
  width: 320px;
  height: 320px;
  border: 2px solid #444;
  background-image: url("img/background.jpg"); /* Imagen de fondo */
  background-size: cover; /* Cubrir todo el contenedor */
  background-position: center; /* Centrar la imagen de fondo */
  overflow: hidden;
}

.character {
  position: absolute;
  width: 64px; /* Tamaño más grande */
  height: 64px; /* Tamaño más grande */
  background-image: url("img/darth-vader-sprite-sheet.png");
  background-size: 256px 128px; /* Escalar la sprite sheet al doble */
  background-position: 0 0; /* Frame inicial (derecha) */
  left: 128px; /* Posición inicial centrada horizontalmente (320/2 - 64/2) */
  top: 128px; /* Posición fija verticalmente (320/2 - 64/2) */
  image-rendering: pixelated; /* Mejorar la visualización del pixel art */
}

@keyframes walk-right {
  0% { background-position: 0 0; }
  100% { background-position: -256px 0; } /* Desplaza hasta el último frame */
}

/* Animación de caminar hacia la izquierda */
@keyframes walk-left {
  0% { background-position: 0 -64px; }
  100% { background-position: -256px -64px; } /* Desplaza hasta el último frame */
}

/* Botones para móviles */
.mobile-controls {
  display: none; /* Ocultar en escritorio */
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.mobile-controls button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #ec4d58;
  color: #fafafa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Mostrar botones solo en móviles */
@media (max-width: 768px) {
  .mobile-controls {
    display: block;
  }
}
